# When real values are entered below, this file should be renamed to config.yml
# Note that if you're going to use the rSmart test cases, you should leave the Roles as set.
# Also make sure the ids are all lowercase.
admin: 
  username:
  password:
person1: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person2: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person3: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Instructor
person4: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Instructor
person5: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person6: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person7: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person8: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person9: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person10: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person11: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person12: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person13: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Staff
person14: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Administrator
person15: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person16: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person17: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student
person18: 
  id:
  firstname:
  lastname:
  email:
  password:
  role: Student